<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet" />
    <title>메모장</title>
    <style>
        .center {
            margin: auto;
        }

        #post-box {
            margin: 10px auto;
            border-radius: 10px;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }
    </style>
    <script>
        $(document).ready(function () {
            showArticles()
        })
        function postArticles() {
            $.ajax({
                type: "POST",
                url: "/memo",
                data: { 'url_give': $('#post-url').val(), 'comment_give': $('#post-comment').val() },
                success: function (response) { // 성공하면
                    console.log(response)
                    if (response["result"] == "success") {
                        showArticles();
                    }
                }
            });
        }
        function postOpenClose() {
            let post = $('#post-box');
            let btn = $('#btn-post-box');
            if (post.css("display") == "block") {
                post.hide();
                btn.text("포스팅 박스 열기");
            }
            else {
                post.show();
                btn.text("포스팅 박스 닫기");
            }
        }
        function showArticles() {
            $('#card-box').html("");
            $.ajax({
                type: 'GET',
                url: '/memo',
                data: {},
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        let articles = response['articles'];
                        for (let i = 0; i < articles.length; i++) {
                            $('#card-box').append(makeCard(articles[i]));
                        }
                    }
                }
            });
        }
        function makeCard(article) {
            let url = article['url'];
            let title = article['title'];
            let desc = article['desc'];
            let comment = article['comment'];
            let img = article['img'];
            let temp =
                `<div class="card">
                    <img class="card-img-top" src="${img}" alt="card img top">
                    <div class="card-body">
                        <a href="${url}" class="card-title">${title}</a>
                        <p class="card-text">${desc}</p>
                        <p class="card-text comment">${comment}</p>
                    </div>
                </div>`
            return temp;
        }

    </script>

</head>

<body>
    <div class="jumbotron w-75 center">
        <h1 class="display-4">나의 메모장</h1>
        <p class="lead">중요한 링크를 저장하고, 나중에 볼 수 있어요.</p>
        <hr class="my-4" />
        <p class="lead"><button onclick="postOpenClose()" id="btn-post-box" type="button" class="btn btn-primary">포스팅 박스
                열기</button></p>
    </div>
    <div id="post-box" class="center w-50 border border-1 p-5" style="display: none;">
        <div class="form-group">
            <label for="post-url" class="my-1">아티클 URL</label>
            <input id="post-url" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label for="post-comment" class="my-1">간단 코멘트</label>
            <textarea id="post-comment" class="form-control" placeholder=""></textarea>
        </div>
        <p><button onclick="postArticles()" id="btn-post" class="btn btn-primary">포스팅 올리기</button></p>
    </div>
    <div id="card-box" class="card-columns">
        <div class="card">
            <img class="card-img-top"
                src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                alt="card img top">
            <div class="card-body">
                <a href="#" class="card-title">제목</a>
                <p class="card-text">이곳에는 요약 내용</p>
                <p class="card-text comment">코멘트</p>
            </div>
        </div>
    </div>
</body>

</html>